<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MezmurApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MezmureTewahedo"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MezmureTewahedo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.HymnDetailActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.AddEditHymnActivity"
            android:exported="false"
            android:label="@string/add_edit_title"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
